<div class="panel panel-default">
	<div class="panel-heading">
	  <p class="panel-title">Add new person</p>
	</div>
	<div class="panel-body">
		<form ng-submit="addDetails()">
    <div class="form-group">
      <label for="Name">Name:</label>
      <input type="text" class="form-control" id="Name" ng-model="detail.Name">
    </div>
	<div class="form-group">
      <label for="Age">Age:</label>
      <input type="text" class="form-control" id="Age" ng-model="detail.Age">
    </div>
	<div class="form-group">
      <label for="Gender">Gender:</label>
      <input type="text" class="form-control" id="Gender" ng-model="detail.Gender">
    </div>
	<div class="form-group">
      <label for="Mobile_number">Mobile_number:</label>
      <input type="text" class="form-control" id="Mobile_number" ng-model="detail.Mobile_number">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
    <a href="#/details" class="btn btn-default"> Cancel</a>
</form>		
    </div>
</div>
