<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Contact</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let detail of details">
    <td>{{ detail.Name }}</td>
    <td>{{ detail.Age }}</td>
    <td>{{ detail.Gender }}</td>
    <td>{{ detail.Mobile_number }}</td>
    <td>
      <a class="btn btn-info" routerLink="/show/{{detail._id}}"> Show  </a>
      <a class="btn btn-success" routerLink="/edit/{{detail._id}}"> Edit  </a>
      <a class="btn btn-danger"(click)="deleteDetail(detail._id)">Delete </a>
    </td>
  </tr>
  </tbody>
</table>
